body {
  padding:0;
  margin: 0;
  background-image: linear-gradient(to right, rgb(239, 247, 252), rgb(147, 168, 210));
}

section {
  width: 600px;
  height: 400px;
  background-image: linear-gradient(to right, rgb(237, 209, 176), rgb(245, 186, 115));
  color: rgb(233, 227, 198);
  border: 3px solid rgb(242, 151, 72);
  border-radius: 10px;
  padding: 20px;
   margin: 0 auto;
}

h1 {
  color: rgba(228, 82, 14, 0.914);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.btn-container {
  margin-left: 80%;
}
.btn{
  display: inline-block;
  padding: 5px;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
}
.contact-btn{
  background-color: rgba(253, 142, 91, 0.914);
}

p {
  color: rgba(225, 80, 13, 0.914);
  width: 250px;
  height: 100px;
  font-size: 25px;
}

aside {
  margin-left: 20px;
  margin-top: 80px;
  display: flex;
}

img {
margin-left: 25%;
}

#submit{
    background-color: rgba(253, 142, 91, 0.914);
}

#info{
  color: black;


}

label{
  color: black;
}